@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

.wrapper {
  padding: 2rem 7rem;
  display: flex;
  justify-content: space-between;
}

.left {
  color: white;
  font-family: 'Raleway', sans-serif;
  width: 799px;
}
